html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
.f-hero-container {
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.slider_content_wrapper {
    position: relative;
}

.slider_content_image img {
    width: 100%;
    max-height: 760px;
    object-fit: cover;
    object-position: top;
}

.container.slider_text_container {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: 0;
}

.panties-area .f-hero-container {
    padding: 432px 0px 40px 300px;
}
.mobileOnly{
    display: none;
}
.product_image_wrapper {
    position: relative;
}
.secondImage {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    transition: .3s linear all;
    opacity: 0;
}
.firstImage{
    transition: .3s linear all;
}
.product-items:hover .firstImage{
    transition: .3s linear all;
    opacity: 0;
}
.product-items:hover .secondImage{
    transition: .3s linear all;
    opacity: 1;
}
span.regular-price.compare_at_price del {
    color: #919191 !important;
}
.belive-items img {
    width: 100%;
    height: 565px;
    display: block;
    object-fit: cover;
    object-position: top;
}
.slider_content_image img {
    height: 100%;
}

.featured-gift-items {
    width: 100%;
    height: 476px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.theme-btn:before {
    background: #000000;
}
.theme-btn:hover, .theme-btn:focus {
    color: #fff !important;
}
.simple-icon.searchBoxToggler {
    background: transparent;
    border: 0;
    padding: 0;
}

.popup-search-box form input {
    font-size: 18px;
    height: 70px;
    width: 100%;
    border: 2px solid #fff;
    border-color: #fff !important;
    background-color: transparent;
    padding-left: 30px;
    color: #fff;
    border-radius: 50px;
}
form.custome-serach-new label {
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

.predictive-search__item-content--centered * {
    color: #fff;
    font-size: 24px;
}
button.predictive-search__item.predictive-search__item--term.link.link--text.h5.animate-arrow {
    background: #fff;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 2rem;
    word-break: break-all;
    line-height: 40px;
    position: relative;
    display: flex;
    padding: .8rem 2rem;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
button.searchClose.border-theme.text-theme {
    border-color: #fff !important;
    color: #fff !important;
}
.popup-search-box form input {
    border: 3px solid #fff;
}

input.addcart__buttonwrap {
    background: #000000;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: block;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    position: relative;
    border: 1px solid transparent;
    margin-bottom: 10px;
}
.product-item-p-text {
    padding-top: 25px;
}

.addcart__buttonwrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-color: transparent;
    background: #fff;
    border-radius: 2px;
    color: #000;
    transform-origin: bottom right;
    transform: scale(0);
    transition: transform .6s cubic-bezier(.4,0,.2,1);
    z-index: -1;
    border: 1px solid #000;
}

.addcart__buttonwrap:hover:before, .addcart__buttonwrap:focus:before {
    transform-origin: left top;
    transform: scale(1);
    border-radius: 2px;
}
.collection_item {
    margin-bottom: 30px;
}

.main-card-container {
    max-width: 486px;
    display: block;
    /* height: 100vh; */
    background: #faf9f9;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    /* height: 100%; */
    overflow-y: auto;
    width: 100%;
}
span.cart-drawer__total-amount span {
    color: #fff !important;
}
.main-card-remove {
    font-size: 34px;
}
.product-option {
    display: flex;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    line-height: 21px;
}
.color-remove a i {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-decoration-line: underline;
    color: #000000;
}
.main-cart-img img {
    width: 150px;
    height: 176px;
    object-fit: cover;
    object-position: top;
}
.main-card-sizing-counte {
    padding-top: 12px;
    max-width: 246px;
    width: 100%;
}
.main-card-wraper-flax {
    width: 100%;
}
.color-remove {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 12px;
    margin-top: -18px;
}
.main-card-remove {
    font-size: 34px;
    cursor: pointer;
}
.product__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
}
.price__sale {
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
}
variant-radios label {
    height: 45px;
    width: 45px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000;
    font-family: 'T-Star Pro';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 0px !important;
    border-radius: 50px !important;
    line-height: 45px !important;
    text-align: center !important;
    color: #000 !important;
}
variant-radios label[checked] {
    height: 45px;
    width: 45px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000;
    font-family: 'T-Star Pro';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
    padding: 0px !important;
    border-radius: 50px !important;
    line-height: 45px !important;
    text-align: center !important;
}
span.cart-drawer__total-amount {
    color: #fff;
}

.product-title .product-toggle {
    cursor: pointer;
}
.popup-search-box form input:focus-visible {
    box-shadow: none !important;
}

.popup-search-box button.searchClose {
    font-size: 24px;
    border-radius: 50%;
    line-height: 0px !important;
}
.popup-search-box button.searchClose:hover {
    color: #000 !important;
}

button#checkout {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 12px 16px 12px;
}
button#update {
    margin-top: 0;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 130%;
    text-transform: uppercase;
    border: 1px solid #000;
    background: #fff;
    color: #000;
}
p.totals__subtotal-value {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
h2.totals__subtotal {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 22px !important;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.totals {
    justify-content: space-between !important;
}

small.tax-note.caption-large.rte {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 18px;
    margin-bottom: 120px;
}
.payment_icons {
    margin-top: 20px;
}
.cart__footer {
    padding-bottom: 140px !important;
}
td.cart-item__totals.cart_item_product_price * {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
td.cart-item__totals.right.small-hide * {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
td.cart-item__totals.right.small-hide * {
    text-align: right !important;
    margin-top: 0px;
}
@media screen and (max-width:767px){
   .hideMobile{
        display: none;
    }
    .mobileOnly{
        display: block;
    }
    .free-shop-slider {
        margin: 0px 45px;
    }
    .slider_content_image img {
        width: 100%;
        max-height: 760px;
        object-fit: cover;
        object-position: top;
        height: 100svh !important;
    }
    button#menu-opener {
        padding: 0;
        background: transparent;
        margin-top: -12px;
    }
}